body {
    /* min-height: 100vh; */
    margin: 0;
    background: linear-gradient(90deg, #d4d9ff 0%, #e5cef0 50%, #dbdff2 100%);
}

main {
    min-height: 100svh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    /* background-color: black; */
}


.boxx{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
    /* background-color: antiquewhite; */
}

.grdbox{
    /* margin-top: 80px; */
    height: auto;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    /* gap:20px; */
    margin-bottom: 50px;
}

.boxes{
    flex-shrink: 0;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    width: 280px;
    height: 120px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px rgb(236, 233, 233)
}



.boxes1{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 26px;
    width: 80px;
    height: 120px;
    background-color: rgb(182, 109, 221);
    right: 0px;
}

.txtbox{
    flex-direction: column;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    width:170px;
    height: 100px;
    color:white;
    /* background-color: white; */
    left: 0px;
    font-weight: 600;
}


.box2{
    /* margin-top: 50px; */
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border: 1/px solid black;
}

.graphbox {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  width: 100%; 
  max-width: 600px; 
  height: 330px;
  border-radius: 5px;
  position: relative; 
}

.graphbox canvas {
  width: 100% !important;
  height: 100% !important;
}


.doughbox{
    /* background-color: black; */
    width: 310px;
    height: 340px;
    border-radius: 5px;
    padding: 5px;
    border: .6px solid rgba(178, 177, 177, .5);
    box-shadow: 0px 1px 4px 2px rgba(178, 177, 177, .2);
    background-color: white;
}

@media (max-width: 1024px){
  .boxes{
    width: 230px;
    height: 100px;
  }
}

@media (max-width: 600px){
  .graphbox{
    height: 280px;
  }
}
 
@media (max-width: 768px) {
   .box2 {
    flex-direction: column;
    align-items: center;
  }
  .grdbox {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    }

  .boxes {
    width: 100%;
    height: 80px;
  }

  .boxes1 {
    font-size: 20px;
    width: 60px;
    height: 100%;
  }

  .txtbox {
    font-size: 16px;
    width: calc(100% - 60px);
    padding-left: 10px;
    height: 100%;
  }

  .graphbox {
    height: 300px;
  }

  .doughbox {
    height: auto;
  }
}

@media (max-width: 320px) {
  .grdbox {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .doughbox{
    height: 250px;
    width: 250px;
  }

  .box2 {
    gap: 20px;
  }
}
